@model ECommerceMVC.Models.Products.Product

<article class="product-card">
    <form action="/cart/add" name="@Model.Id" method="post" id="@Model.Id" enctype="multipart/form-data" class="product-card_form">
        <a href="/products/DetailsCard/@Model.Id" class="product-card_link">
            <div class="product-card_image-wrap">
                <div class="product-card_image-wrap-top">
                    <div class="product-badge product-badge-new">
                        <p>NEW</p>
                    </div>
                    <div class="product-card_image_wrap-top-icons u-float-right">
                        <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z" />
                        </svg>
                        <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z" />
                            <path d="M0 0h24v24H0z" fill="none" />
                        </svg>
                    </div>
                </div>
                <div class="product-card_img-inner">
                    @if (Model.Product_Images == null | Model.Product_Images.Count == 0)
                    {
                        <img src="~/ImagesDefault/NoImage.png" />
                    }
                    else
                    {
                        <img src="~/images/@(Model.Product_Images.First().ImageName)" />
                    }

                </div>
                <fieldset class="product_option">
                </fieldset>
            </div>
            <div class="product-card_stars_container">
                ★ ★ ★ ★ ★
            </div>
            <div class="product-card_title">
                <p>@Model.Name</p>
            </div>
            <div class="product-card_prices">
                <p>
                    € @Model.Price EUR
                </p>
            </div>
        </a>
        <div class="product-card_button">
            <button type="button" onclick="addToCart(this.dataset.path)" data-path="@Url.Action("Ajax_Add", "Cart", Model)" class="product__add-to-cart btn">
                ADD TO CART
            </button>
        </div>
    </form>
</article>



