@model ECommerceMVC.Models.Orders.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdressDeliveryStreetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdressDeliveryStreetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdressDeliveryPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdressDeliveryPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdressDeliveryCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdressDeliveryCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdressDeliveryCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdressDeliveryCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdressDeliveryOption_1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdressDeliveryOption_1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdressDeliveryOption_2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdressDeliveryOption_2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdressFacturationStreetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdressFacturationStreetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdressFacturationPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdressFacturationPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdressFacturationCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdressFacturationCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdressFacturationCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdressFacturationCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdressFacturationOption_1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdressFacturationOption_1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdressFacturationOption_2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdressFacturationOption_2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
