@model ECommerceMVC.Models.Products.Product

@{
    ViewData["Title"] = "ProductDetailsCard";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var i = 1;
    var j = 1;
}
@section Product {
    <link rel="stylesheet" href="~/css/Product/ProductDetails.css" />
    <link rel="stylesheet" href="~/css/Shared/ProductCard2.css" />
}


<section class="product__header layout-padding">

    <div class="breadcrumbs">
        <ul>
            <li class="breadcrumbs-li__categories"><a href="#">Category</a></li>

            <li class="breadcrumbs-li__item">@Model.Name</li>
        </ul>
    </div>


    <div class="next-product">
        <a href="#" title="" class="next-product__link">
            <img src="~/images/@(Model.Product_Images.First().ImageName)" alt="">@Model.Name &gt;
        </a>
    </div>


</section>
<section class="product__main">
    <div class="container_slider">
        <nav role="navigation">
            <ul class="thumbnail-slider">
                @foreach (var img in Model.Product_Images)
                {
                    <li class="slide">
                        <a href="#slide-@j">
                            <figure>
                                @if (Model.Product_Images.Count == 0)
                                {
                                    <img src="~/ImagesDefault/NoImage.png" />
                                }
                                else
                                {
                                    <img src="~/images/@(img.ImageName)" />
                                }
                            </figure>
                        </a>
                    </li>
                    j++;
                }
            </ul>
        </nav>
        <ul class="main-slider">
            @foreach (var img in Model.Product_Images)
            {
                <li class="slide" id="slide-@i">
                    <figure>
                        <img src="~/images/@(img.ImageName)" />
                    </figure>
                    <div class="meta">
                        <p class="title">@img.Title</p>
                        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </li>
                i++;
            }
        </ul>

    </div>
    <div class="container_product-details">
        <div class="product__info">
            <div class="yotpo-product-container review-stars--desktop">
                <div class="yotpo bottomLine yotpo-small">
                    ★ ★ ★ ★ ★
                </div>
            </div>

            <h1 class="product__title">@Model.Name</h1>

            <form method="post" action="@Url.Action("add", "products")" name="@Model.Id" method="post" id="@Model.Id" enctype="multipart/form-data">
                <input type="hidden" name="form_type" value="product"><input type="hidden" name="utf8" value="✓">


                <div class="product__price-info">
                    <div class="prices">
                        <span class="price"><span class="money">€ @Model.Price EUR</span></span>
                    </div>
                </div>

                <label class="product__option-header" for="Quantity">Quantity</label>
                <div class="product__qty">
                    <button type="button">−</button>
                    <input type="number" id="Quantity" name="quantity" value="1" min="1" readonly="">
                    <button type="button">+</button>
                </div>

                <button type="button" class="product__add-to-cart button button--large button--full button--teal" onclick="addToCart(this.dataset.path)" data-path="@Url.Action("Ajax_Add", "Cart", Model)">Add to Cart</button>
            </form>

            <partial name="_ProductDetails__upsellProduct" model="ViewBag.upsellProduct" />

            <div class="product__accordion" role="tablist">
                <div class="product__accordion-card">
                    <button type="button" id="product__accordion-btn__description" class="product__accordion-title" role="tab">Description</button>
                    <div class="product__accordion-body" role="tabpanel">
                        <span>
                            @Model.Description_Long
                        </span>
                        <br>
                    </div>
                </div>

                <div class="product__accordion-card">
                    <button type="button" id="product__accordion-btn__details" class="product__accordion-title" role="tab">Details</button>
                    <div class="product__accordion-body" role="tabpanel">
                        <p>
                            - Weight : @Model.Weight gramme
                            <br>
                            - Height : @Model.Height cm
                            <br>
                            - Width : @Model.Width cm
                            <br>
                            - Lenght : @Model.Lenght cm
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
<section class="product__relative">
    <div class="section-title" role="heading"><span>You May Also Like</span></div>
    <div class="product_container" style="display:flex;flex-wrap:wrap;justify-content:center;margin:10px auto 0;">
        <partial name="_ProductsCards2" model="ViewBag.upsellProduct" />
        <partial name="_ProductsCards2" model="ViewBag.upsellProduct" />
        <partial name="_ProductsCards2" model="ViewBag.upsellProduct" />
    </div>
</section>
<section class="product__why">
</section>
<section class="product__comments">
    <div class="section-title" role="heading">
        <span>★ ★ ★ ★ ★</span>
        <h3>71 REVIEWS</h3>
    </div>
    <div class="product__comments_btn_creation" id="formSection">
        <button type="button" id="addComment" value="@Url.Action("Create", "Comments", Model)">
            COMMENT
        </button>
        @*<a href="@Url.Action("Create", "Comments", Model)">Send A</a>*@
    </div>
    <div class="comment-nav-content">
        @foreach (var comment in Model.Comments)
        {
            <partial name="_productDetails__comment" model="comment" />
        }

    </div>
</section>

@section DetailsCardsScript {
    <script>
        var acc = document.getElementsByClassName("product__accordion-title");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                console.log(panel)
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }

            });
        };
        //button to load comment form
        $("#addComment").click(function (event) {
            var path = event.target.value;
            console.log(event)
            $.ajax({
                type: "GET",
                url: path,
                contentType: "html",
                success: function (html) {
                    $('#formSection').html(html);
                },
                error: function (msg) {
                    console.log("error")
                }
            });
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

